*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px 80px;
    position: relative;
}
.container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.favourite_food{
    margin-top: 100px;
}
img{
    display: block;
    margin:40px auto;
    width: 800px;
    transition: 0.2s ease-in-out;
}
img:hover{
    border-radius: 10px;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
}

h2{
    font-size: 60px;
    text-align: center;
}
h3{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
ol{
    padding-left: 20px;
}
li{
    font-size: 25px;
    
}
li:hover{
    font-weight: bold;
    color:orange;
    text-decoration: underline;
}
span{
    color:#ff4321;
}
p{
    font-size: 25px;
    margin:20px 0px;
}